## Funciones

In [1]:
def my_function(x, y):
    return x + y

In [2]:
my_function(1, 2)
result = my_function(1, 2)
result

3

In [3]:
def function_without_return(x):
    print(x)

result = function_without_return("hello!")
print(result)

hello!
None

In [4]:
def my_function2(x, y, z=1.5):
    if z > 1:
        return z * (x + y)
    else:
        return z / (x + y)

In [5]:
my_function2(5, 6, z=0.7)
my_function2(3.14, 7, 3.5)
my_function2(10, 20)

45.0

### Espacios de nombres, ámbito y funciones locales

In [6]:
a = []
def func():
    for i in range(5):
        a.append(i)

In [7]:
func()
a
func()
a

[0, 1, 2, 3, 4, 0, 1, 2, 3, 4]

In [8]:
a = None
def bind_a_variable():
    global a
    a = []
bind_a_variable()
print(a)

[]

### Las funciones son objetos

In [9]:
states = ["   Alabama ", "Georgia!", "Georgia", "georgia", "FlOrIda",
          "south   carolina##", "West virginia?"]

In [10]:
import re

def clean_strings(strings):
    result = []
    for value in strings:
        value = value.strip()
        value = re.sub("[!#?]", "", value)
        value = value.title()
        result.append(value)
    return result

In [11]:
clean_strings(states)

['Alabama',
 'Georgia',
 'Georgia',
 'Georgia',
 'Florida',
 'South   Carolina',
 'West Virginia']

In [12]:
def remove_punctuation(value):
    return re.sub("[!#?]", "", value)

clean_ops = [str.strip, remove_punctuation, str.title]

def clean_strings(strings, ops):
    result = []
    for value in strings:
        for func in ops:
            value = func(value)
        result.append(value)
    return result

In [13]:
clean_strings(states, clean_ops)

['Alabama',
 'Georgia',
 'Georgia',
 'Georgia',
 'Florida',
 'South   Carolina',
 'West Virginia']

In [14]:
for x in map(remove_punctuation, states):
    print(x)

   Alabama
Georgia
Georgia
georgia
FlOrIda
south   carolina
West virginia

### Funciones anónimas (lambda)

In [15]:
def short_function(x):
    return x * 2

equiv_anon = lambda x: x * 2

In [16]:
def apply_to_list(some_list, f):
    return [f(x) for x in some_list]

ints = [4, 0, 1, 5, 6]
apply_to_list(ints, lambda x: x * 2)

[8, 0, 2, 10, 12]

In [17]:
strings = ["foo", "card", "bar", "aaaa", "abab"]

In [18]:
strings.sort(key=lambda x: len(set(x)))
strings

['aaaa', 'foo', 'abab', 'bar', 'card']

### Generadores

In [19]:
some_dict = {"a": 1, "b": 2, "c": 3}
for key in some_dict:
    print(key)

a
b
c

In [20]:
dict_iterator = iter(some_dict)
dict_iterator

In [21]:
list(dict_iterator)

['a', 'b', 'c']

In [22]:
def squares(n=10):
    print(f"Generating squares from 1 to {n ** 2}")
    for i in range(1, n + 1):
        yield i ** 2

In [23]:
gen = squares()
gen

In [24]:
for x in gen:
    print(x, end=" ")

Generating squares from 1 to 100
1 4 9 16 25 36 49 64 81 100

### Expresiones generadoras

In [25]:
gen = (x ** 2 for x in range(100))
gen

In [26]:
sum(x ** 2 for x in range(100))
dict((i, i ** 2) for i in range(5))

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16}

### Módulo itertools

In [27]:
import itertools
def first_letter(x):
    return x[0]

names = ["Alan", "Adam", "Wes", "Will", "Albert", "Steven"]

for letter, names in itertools.groupby(names, first_letter):
    print(letter, list(names)) # names is a generator

A ['Alan', 'Adam']
W ['Wes', 'Will']
A ['Albert']
S ['Steven']

### Errores y manejo de excepciones

In [28]:
float("1.2345")
float("something")

ValueError: could not convert string to float: 'something'

In [1]:
def attempt_float(x):
    try:
        return float(x)
    except:
        return x

In [2]:
attempt_float("1.2345")
attempt_float("something")

'something'

In [3]:
float((1, 2))

TypeError: float() argument must be a string or a real number, not 'tuple'

In [4]:
def attempt_float(x):
    try:
        return float(x)
    except ValueError:
        return x

In [5]:
attempt_float((1, 2))

TypeError: float() argument must be a string or a real number, not 'tuple'

In [6]:
def attempt_float(x):
    try:
        return float(x)
    except (TypeError, ValueError):
        return x